/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes slide-up-down {
  from {
    -webkit-transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, -3px, 0); } }
@-moz-keyframes slide-up-down {
  from {
    -moz-transform: translate3d(0, 0, 0); }
  to {
    -moz-transform: translate3d(0, -3px, 0); } }
@keyframes slide-up-down {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, -3px, 0);
    -moz-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0); } }
@-webkit-keyframes pulsar {
  from {
    -webkit-transform: scale(1, 1);
    opacity: .4; }
  to {
    -webkit-transform: scale(2.5, 2.5);
    opacity: 0; } }
@-moz-keyframes pulsar {
  from {
    -moz-transform: scale(1, 1);
    opacity: .4; }
  to {
    -moz-transform: scale(2.5, 2.5);
    opacity: 0; } }
@keyframes pulsar {
  from {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: .4; }
  to {
    -webkit-transform: scale(2.5, 2.5);
    -moz-transform: scale(2.5, 2.5);
    -ms-transform: scale(2.5, 2.5);
    -o-transform: scale(2.5, 2.5);
    transform: scale(2.5, 2.5);
    opacity: 0; } }
@-webkit-keyframes slide-up-down {
  from {
    -webkit-transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, -3px, 0); } }
@-moz-keyframes slide-up-down {
  from {
    -moz-transform: translate3d(0, 0, 0); }
  to {
    -moz-transform: translate3d(0, -3px, 0); } }
@keyframes slide-up-down {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, -3px, 0);
    -moz-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0); } }
@-webkit-keyframes pulsar {
  from {
    -webkit-transform: scale(1, 1);
    opacity: .4; }
  to {
    -webkit-transform: scale(2.5, 2.5);
    opacity: 0; } }
@-moz-keyframes pulsar {
  from {
    -moz-transform: scale(1, 1);
    opacity: .4; }
  to {
    -moz-transform: scale(2.5, 2.5);
    opacity: 0; } }
@keyframes pulsar {
  from {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: .4; }
  to {
    -webkit-transform: scale(2.5, 2.5);
    -moz-transform: scale(2.5, 2.5);
    -ms-transform: scale(2.5, 2.5);
    -o-transform: scale(2.5, 2.5);
    transform: scale(2.5, 2.5);
    opacity: 0; } }
#map-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 40rem; }
  @media screen and (min-width: 768px) {
    #map-container {
      position: absolute;
      top: 0;
      right: 0;
      width: 33%;
      height: 100%;
      min-height: 100vh; } }
  #map-container .marker-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
  #map-container .marker {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -25px; }
    #map-container .marker .profile-pic {
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
      margin-left: -1.75rem;
      z-index: 3;
      border: 2px solid #FFFFFF;
      border-radius: 100%;
      background-size: 100%;
      background-image: url("../img/profile_pic.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        #map-container .marker .profile-pic {
          background-image: url("../img/profile_pic_2x.png");
          background-size: 100%; } }
    #map-container .marker .label-container {
      -webkit-animation: slide-up-down 2s ease-in-out 0s infinite alternate;
      -moz-animation: slide-up-down 2s ease-in-out 0s infinite alternate;
      animation: slide-up-down 2s ease-in-out 0s infinite alternate;
      padding: .5rem 1rem;
      margin-top: 0.5rem;
      white-space: nowrap;
      font-family: "ff-tisa-sans-web-pro", Helvetica, sans-serif;
      background-color: #FFFFFF;
      color: #7F7F7F;
      border-radius: 1px;
      text-align: center;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
      #map-container .marker .label-container .label {
        font-size: 0.6rem;
        padding: 3px 0 0 1px;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        font-style: italic; }
      #map-container .marker .label-container .venue-name {
        font-size: 0.933rem;
        font-weight: bold; }
    #map-container .marker .pulsar-1, #map-container .marker .pulsar-2 {
      position: absolute;
      width: 3.5rem;
      height: 3.5rem;
      left: -1.65rem;
      top: .1rem;
      z-index: 0;
      background-color: #FFFFFF;
      border-radius: 100%; }
    #map-container .marker .pulsar-1 {
      -webkit-animation: pulsar 2s ease-out 0s infinite;
      -moz-animation: pulsar 2s ease-out 0s infinite;
      animation: pulsar 2s ease-out 0s infinite; }
    #map-container .marker .pulsar-2 {
      -webkit-animation: pulsar 2s ease-out 1s infinite;
      -moz-animation: pulsar 2s ease-out 1s infinite;
      animation: pulsar 2s ease-out 1s infinite; }
  #map-container #map {
    width: 100%;
    height: 100%; }
  #map-container #map-top-skew {
    -webkit-transform: skewY(-4.5deg);
    -moz-transform: skewY(-4.5deg);
    -ms-transform: skewY(-4.5deg);
    -o-transform: skewY(-4.5deg);
    transform: skewY(-4.5deg);
    position: absolute;
    top: -1.25rem;
    width: 100%;
    height: 2.5rem;
    z-index: 10;
    background-color: #FFFFFF; }
    @media screen and (min-width: 480px) {
      #map-container #map-top-skew {
        display: none; } }
  #map-container #footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem 0.75rem 0.5rem;
    box-sizing: border-box;
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 1.4em;
    border-top-left-radius: 1px; }
    #map-container #footer a {
      color: #7F7F7F;
      text-decoration: none; }
    @media screen and (min-width: 480px) {
      #map-container #footer {
        padding: 0.5rem 0.6rem 0.4rem; } }

* {
  -webkit-tap-highlight-color: transparent; }

HTML, BODY {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  font-family: "ff-tisa-web-pro", Georgia, serif;
  color: #7F7F7F;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased; }
  @media screen and (min-width: 768px) {
    HTML, BODY {
      font-size: 15px; } }
  @media screen and (min-width: 1450px) {
    HTML, BODY {
      font-size: 21px; } }
  @media screen and (min-width: 2400px) {
    HTML, BODY {
      font-size: 28px; } }

BODY {
  position: relative;
  min-height: 560px;
  box-sizing: border-box; }

A {
  color: #5CB3BC;
  font-style: italic; }
  A:hover {
    color: #4399a2; }

EM {
  font-style: italic; }

H1 {
  font-size: 1.66rem;
  margin-bottom: .25rem;
  color: #4b4c4c; }

P {
  margin-bottom: 1rem;
  line-height: 1.6rem; }

HR {
  -webkit-transform: skewY(-4.5deg) scaleX(1.25);
  -moz-transform: skewY(-4.5deg) scaleX(1.25);
  -ms-transform: skewY(-4.5deg) scaleX(1.25);
  -o-transform: skewY(-4.5deg) scaleX(1.25);
  transform: skewY(-4.5deg) scaleX(1.25);
  height: 1px;
  margin: 5rem 0;
  border: none;
  background-color: #E5E5E5; }
  @media screen and (min-width: 480px) {
    HR {
      display: none; } }
  HR.alt {
    -webkit-transform: skewY(4.5deg) scaleX(1.25);
    -moz-transform: skewY(4.5deg) scaleX(1.25);
    -ms-transform: skewY(4.5deg) scaleX(1.25);
    -o-transform: skewY(4.5deg) scaleX(1.25);
    transform: skewY(4.5deg) scaleX(1.25); }

HEADER, SECTION {
  margin-bottom: 3.7rem; }

HEADER H1 {
  font-size: 2.266rem;
  color: #4b4c4c; }
HEADER H2 {
  font-size: 1.2rem;
  font-family: "ff-tisa-sans-web-pro", Helvetica, sans-serif;
  font-weight: 400;
  color: #5CB3BC; }

A.btn {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display: inline-block;
  padding: 0.7rem 1.5rem 0.5rem;
  margin: 0 auto;
  border: 1px solid #E5E5E5;
  font-size: 1.3rem;
  font-family: "ff-tisa-sans-web-pro", Helvetica, sans-serif;
  font-weight: 700;
  font-variant: small-caps;
  font-style: normal;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  border-radius: 1px;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    A.btn {
      font-size: 1.2rem; } }
  A.btn:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    color: #79c0c8; }
  A.btn:active {
    box-shadow: none;
    color: #4399a2; }

.date {
  font-family: "ff-tisa-sans-web-pro", Helvetica, sans-serif;
  color: #5CB3BC; }

.section-content {
  margin-top: 1.5rem; }

#content {
  overflow: hidden;
  padding: 3rem 1.5rem; }
  @media screen and (min-width: 768px) {
    #content {
      max-width: 23rem;
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
      padding-left: 10%; } }

#cta {
  margin-bottom: 1rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    #cta {
      margin-bottom: 0;
      text-align: left; } }

/*# sourceMappingURL=index.css.map */
