HTML, BODY {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Proxima Nova', Helvetica, sans-serif;
  color: #f5faff;
  background-color: #f5faff; }

#map-container {
  position: absolute;
  width: 100%;
  height: 100%; }
  #map-container #map {
    width: 100%;
    height: 100%; }
  #map-container .marker {
    position: absolute;
    top: 50%;
    left: 50%; }
    #map-container .marker .profile-pic {
      width: 45px;
      height: 45px;
      margin-left: -22.5px;
      border: 1px solid #f5faff;
      border-radius: 30px;
      background-image: url("../img/profile_pic.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        #map-container .marker .profile-pic {
          background-image: url("../img/profile_pic_2x.png");
          background-size: 45px; } }
    #map-container .marker .label-container {
      padding: 6px 20px 8px;
      margin-left: -125px;
      margin-top: 20px;
      background-color: #f5faff;
      color: #333947;
      border-radius: 50px; }
      #map-container .marker .label-container .label {
        padding-left: 0.5px;
        text-transform: lowercase;
        font-variant: small-caps; }
      #map-container .marker .label-container .venue-name {
        font-size: 16px;
        font-weight: bold; }

#right-nav {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  width: 375px;
  height: 100%;
  padding: 30px 45px;
  border-left: 1px solid #7c90a5;
  background-color: #333947; }
  #right-nav H1 {
    width: 288 px;
    height: 98px;
    margin-bottom: 12px;
    text-indent: -9999px;
    background-image: url("../img/fravic.png");
    background-size: 302px;
    background-repeat: no-repeat;
    background-position-x: 3px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      #right-nav H1 {
        background-image: url("../img/fravic_2x.png");
        background-size: 285px; } }
  #right-nav H2 {
    margin-top: -10px;
    margin-bottom: 50px;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    color: #50acff; }
  #right-nav UL {
    padding-left: 0;
    list-style-type: none; }
    #right-nav UL LI {
      padding-bottom: 20px; }
      #right-nav UL LI:before {
        position: relative;
        top: 2px;
        width: 28px;
        font-size: 25px;
        margin-left: 1px;
        margin-right: 20px; }
      #right-nav UL LI.icon-mail:before {
        font-size: 24px; }
      #right-nav UL LI.icon-camera:before {
        font-size: 22px; }
    #right-nav UL A {
      position: relative;
      top: -2px;
      font-size: 16px;
      font-weight: lighter;
      color: #f5faff;
      text-decoration: none; }
  #right-nav #footer {
    position: absolute;
    bottom: 40px;
    right: 45px;
    left: 45px;
    font-size: 12px;
    padding-top: 6px;
    border-top: 1px solid #7c90a5;
    color: #7c90a5;
    opacity: .75; }
