@import 'bourbon/bourbon';

$almostWhite: #f5faff;
$darkerWhite: #E6F5FF;
$vibrantBlue: #50acff;
$lightBlue: #7c90a5;
$darkBlue: #333947;

$mobile: 480px;

@include keyframes(slide-up-down) {
  from {
    @include transform(translate3d(0,0,0));
  }
  to {
    @include transform(translate3d(0,-3px,0));
  }
}

@include keyframes(pulsar) {
  from {
    @include transform(scale(1.0,1.0));
    opacity: .4;
  }
  to {
    @include transform(scale(2.5,2.5));
    opacity: 0;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

HTML, BODY {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;

  font-family: 'Proxima Nova', Helvetica, sans-serif;

  color: $almostWhite;
  background-color: $almostWhite;
}

A {
  color: $almostWhite;
  text-decoration: none;
}

#map-container {
  position: absolute;
  @include box-sizing(border-box);
  width: 100%;
  height: 100%;
  padding-right: 375px;

  @media screen and (max-width: $mobile) {
    position: static;
    height: 300px;
    padding-right: 0;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .marker-container {
    position: absolute;
    top: 0;
    left: -(375/2) + px;
    width: 100%;
    height: 100%;

    @media screen and (max-width: $mobile) {
      height: 300px;
      left: 0;
    }
  }

  .marker {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -25px;

    .profile-pic {
      position: relative;
      width: 45px;
      height: 45px;
      margin-left: -(47/2) + px;
      z-index: 3;

      border: 1px solid $almostWhite;
      border-radius: 30px;

      @include retina-image('../img/profile_pic', 45px);
    }

    .label-container {
      @include animation(slide-up-down 2.0s ease-in-out 0s infinite alternate);

      padding: 6px 20px 6px;
      margin-top: 20px;

      background-color: $almostWhite;
      color: $darkBlue;
      border-radius: 50px;

      .label {
        padding: 2px 0 2px 1px;
        font-size: 9px;

        text-transform: uppercase;
      }

      .venue-name {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .pulsar-1, .pulsar-2 {
      position: absolute;
      width: (45 + 2) + px;
      height: (45 + 2) + px;
      left: -(47/2)+px;
      top: 0px;
      z-index: 0;

      background-color: $darkerWhite;
      border-radius: 45px;
    }

    .pulsar-1 {
      @include animation(pulsar 2.0s ease-out 0s infinite);
    }

    .pulsar-2 {
      @include animation(pulsar 2.0s ease-out 1.0s infinite);
    }
  }
}

#right-nav {
  position: absolute;
  @include box-sizing(border-box);
  top: 0;
  right: 0;
  width: 375px;
  height: 100%;
  padding: 30px 45px;

  border-left: 1px solid $lightBlue;
  background-color: $darkBlue;

  @media screen and (max-width: $mobile) {
    position: static;
    width: 100%;
    height: auto;
    padding: 15px 30px 25px;

    border-left: none;
    border-top: 1px solid $lightBlue;
  }

  H1 {
    width: (285 + 3)px;
    height: 98px;
    margin-bottom: 12px;
    text-indent: -9999px;

    @include retina-image('../img/fravic', 285px);
    background-size: 285px;
    background-repeat: no-repeat;
    background-position-x: 3px;

    @media screen and (max-width: $mobile) {
      margin-bottom: 0;
      margin-top: 18px;
      background-size: 250px;
    }
  }

  H2 {
    margin-top: -10px;
    margin-bottom: 50px;

    font-family: 'Georgia', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 30px;

    color: $vibrantBlue;

    @media screen and (max-width: $mobile) {
      margin-bottom: 32px;
    }
  }

  UL {
    padding-left: 0;

    list-style-type: none;

    LI {
      &:before {
        position: relative;
        top: 2px;
        width: 28px;

        font-size: 25px;
        margin-left: 1px;
        margin-right: 20px;
      }

      &.icon-mail:before {
        font-size: 24px;
      }

      &.icon-camera:before {
        font-size: 22px;
      }
    }

    A {
      @include transition(all 0.2s ease-out);

      display: block;
      position: relative;
      top: -2px;
      font-size: 16px;
      padding: 7px 10px 10px;
      margin-left: -10px;
      margin-bottom: 10px;
      border: 1px solid transparent;

      font-weight: lighter;
      border-radius: 4px;

      &:hover {
        box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
        border-top: 1px solid rgba(255,255,255,0.08);
        border-left: 1px solid rgba(255,255,255,0.08);
        border-right: 1px solid rgba(255,255,255,0.08);
      }

      &:active {
        box-shadow: 0px -2px 0px rgba(0,0,0,0.2);
        border-top: 1px solid transparent;
        border-bottom: 1px solid rgba(255,255,255,0.08);
        border-left: 1px solid rgba(255,255,255,0.08);
        border-right: 1px solid rgba(255,255,255,0.08);
        background-color: rgba(0,0,0,0.05);
      }
    }
  }

  #footer {
    position: absolute;
    bottom: 35px;
    right: 45px;
    left: 45px;
    font-size: 12px;
    padding-top: 6px;

    line-height: 1.4em;

    border-top: 1px solid $lightBlue;
    color: $lightBlue;
    opacity: .75;

    @media screen and (max-width: $mobile) {
      position: static;
      margin-top: 35px;
    }

    A {
      color: $lightBlue;
    }

    .created-at {
      display: none;
      &:after {
        content:"\a";
        white-space: pre;
      }
    }
  }
}
